.container {
  text-align: center;
  background-color: #BA55D3;
  
}


.line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 13px;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  
  
}
